<div class="_container">
  <div class="subscribe-popup">
    <div class="text-center">
      <h2>Change Your Password</h2>
    </div>

    <form [formGroup]="Form" (ngSubmit)="onSubmit()">

            <!-- email -->
      <div class="form-group">
        <label for="email">Current Password</label>
        <input formControlName="currentPassword" id="email" type="password" class="form-control">
      </div>

            <!-- password -->
      <div class="form-group">
        <label for="password">New Password</label>
        <input (keyup.enter)="onSubmit()" formControlName="newPassword" id="password" type="password" class="form-control" (key.enter)="onSubmit()">
      </div>

      <div class="form-group">
        <label for="password">Confirm New Password</label>
        <input (keyup.enter)="onSubmit()" formControlName="confirmNewPassword" id="password" type="password" class="form-control" (key.enter)="onSubmit()">
      </div>
      <div *ngIf="isError" class="text-danger">
        {{ErrorMessage}}
      </div>


            <!-- Submit -->
      <div class="text-center" style="margin-top: 2rem;">
        <button type="button" class="btn btn-primary text-center"  (click)="onSubmit()">Log In</button>
      </div>
    </form>

  </div>

</div>
